:root {
  --couleur-vert: #80c6b1;
  --couleur-bleu: #6adae4;
  --couleur-rose: #ffaeeb;
  --couleur-jaune: #feedc3;
  --couleur-mauve: #4e409b;
  --couleur-saumon: #ff9191;
  --couleur-bleu-pale: aliceblue;
}
/*html {
  overflow: scroll;
}*/
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 800vh;
  font-family: "Gloria Hallelujah", cursive;
}

header {
  width: 100vw;
  height: 108vh;
  background-image: url(../img/img_personnages/couple.png);
  background-color: var(--couleur-bleu);
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
}

h1 {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 10vh;
  text-align: center;
}
h3,
h4,
a {
  padding: 25px;
  position: absolute;
  font-size: 30px;
  color: aliceblue;
}

.para {
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
}

#wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
}
.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}
.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--couleur-saumon);
  border-right: 2px solid var(--couleur-saumon);
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#scroll-title {
  display: block;
  text-transform: uppercase;
  color: var(--couleur-saumon);
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 90px;
  background: var(--couleur-saumon);
  content: " ";
}
@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

.container {
  height: 100%;
  width: 1900px;
  position: absolute;
  color: #6adae4;
  pointer-events: none;
}

.chapitre1 {
  background-image: url(../img/img_arriere_plan/chapitre1.png);

  background-repeat: no-repeat;

  height: 1050px;
  position: relative;
  /*border: solid 1px red;*/
}
.chapitre2 {
  background-image: url(../img/img_arriere_plan/chapitre2_ciel.png);

  height: 1050px;
  background-repeat: no-repeat;
  position: relative;
  /*border: solid 1px red;*/
}
.chapitre3 {
  background-image: url(../img/img_arriere_plan/chapitre3_ciel.png);
  height: 1050px;
  background-repeat: no-repeat;
  position: relative;
  /*border: solid 1px red;*/
}
.chapitre4 {
  background-image: url(../img/img_arriere_plan/chapitre4.png);

  height: 1050px;
  background-repeat: no-repeat;
  position: relative;
  /*border: solid 1px red;*/
}
.chapitre5 {
  background-image: url(../img/img_arriere_plan/ciel.png);

  height: 1050px;
  background-repeat: no-repeat;
  position: relative;
}
.chapitre6 {
  background-image: url(../img/img_arriere_plan/ciel.png);

  height: 1050px;
  background-repeat: no-repeat;
  position: relative;
  /*border: solid 1px red;*/
}
.chapitre7 {
  background-image: url(../img/img_arriere_plan/chapitre7-8_sans_coline.png);

  height: 1050px;
  background-repeat: no-repeat;
  position: relative;
  /*border: solid 1px red;*/
}
.chapitre8 {
  background-image: url(../img/img_arriere_plan/chapitre7-8_sans_coline.png);

  height: 1050px;
  background-repeat: no-repeat;
  position: relative;
  /*border: solid 1px red;*/
}

.SpriteSheet {
  position: absolute;
  background-image: url("../img/img_personnages/spritesheet.png");
  object-fit: contain;
  background-size: 7600% 100%;
  animation: sprite 1s steps(76) infinite;
  background-position: 0 0;
  animation-play-state: paused;
  /*border: solid 1px red;*/
}

.is-scrolling {
  height: 10%;
  width: 40%;
  background-image: url("../img/img_personnages/spritesheet.png");
  background-size: 7600% 100%;
  animation: sprite 1s steps(76) infinite;
  object-fit: contain;
  background-position: 0 0;
  animation-play-state: running;
}
.SpriteSheet2 {
  height: 10%;
  width: 40%;
  background-image: url("../img/img_personnages/marcher_balon_sprite.png");
  object-fit: contain;
  background-size: 7600% 100%;
  animation: sprite2 1s steps(76) infinite;
  background-position: 0 0;
  animation-play-state: running;
}

@keyframes sprite {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -7600% 0;
  }
}

@keyframes sprite2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -7600% 0;
  }
}

#PetitBonhomme {
  max-width: 880vw;
  position: absolute;
  bottom: 0;
  right: 90px;
  top: 200px;
}

#PetitBonhommeNoir {
  max-width: 880vw;
  position: absolute;
  bottom: 0;
  left: 500px;
  top: 400px;
  z-index: 4;
}

.regardeFalaise {
  position: absolute;
  bottom: 0;
  right: 90px;
  top: 515px;
}

#montagneFonce {
  position: absolute;
  width: 90vw;
  bottom: 100px;
  /*position:0% 100px;*/
  z-index: 1;
  /*border: solid 1px rgb(77, 255, 0);*/
}
#montagnePale {
  position: absolute;
  width: 100vw;
  bottom: 100px;
  z-index: 2;
  /* border: solid 1px rgb(0, 64, 255);*/
}

#montagneSemiPale {
  position: absolute;
  width: 80vw;
  bottom: 100px;
  z-index: 3;
  /* border: solid 1px rgb(255, 0, 179);*/
}

/*
.etoiles {
  border: solid 1px greenyellow;
}
*/

#etoile1 {
  bottom: 18vh;
  left: 15vw;
  position: absolute;
}
#etoile2 {
  bottom: 20vh;
  left: 15vw;
  position: absolute;
}
#etoile3 {
  bottom: 30vh;
  left: 10vw;
  position: absolute;
}
#etoile4 {
  bottom: 40vh;
  left: 20vw;
  position: absolute;
}
#etoile5 {
  bottom: 10vw;
  left: 10vh;
  position: absolute;
  /*border: solid 1px greenyellow;*/
}
#etoile6 {
  bottom: 40vh;
  left: 40vw;
  position: absolute;
}
#etoile7 {
  bottom: 30vh;
  left: 30vw;
  position: absolute;
}
#etoile8 {
  bottom: 65vh;
  left: 65vw;
  position: absolute;
}
#etoile9 {
  bottom: 60vh;
  left: 60vw;
  position: absolute;
}
#etoile10 {
  bottom: 60vh;
  left: 10vw;
  position: absolute;
}
#etoile11 {
  bottom: 70vh;
  left: 90vw;
  position: absolute;
}
#etoile12 {
  bottom: 30vh;
  left: 59vw;
  position: absolute;
}
#etoile13 {
  bottom: 19vh;
  left: 29vw;
  position: absolute;
}
#etoile14 {
  bottom: 23vh;
  left: 39vw;
  position: absolute;
}
#etoile15 {
  bottom: 40vh;
  left: 65vw;
  position: absolute;
}
#etoile16 {
  bottom: 22vh;
  left: 34vw;
  position: absolute;
}
#etoile17 {
  bottom: 28vh;
  left: 55vw;
  position: absolute;
}
#etoile18 {
  bottom: 15vh;
  left: 63vw;
  position: absolute;
  color: #feedc300;
  background-color: #6adae400;
}

#nuage1 {
  bottom: 0vh;
  left: 28vw;
  position: absolute;
  color: #feedc300;
  background-color: #6adae400;
  /*border: solid 1px greenyellow;*/
}

#nuage2 {
  bottom: 0vh;
  left: 55vw;
  position: absolute;
  color: #feedc300;
  background-color: #6adae400;
  /*border: solid 1px greenyellow;*/
}

#nuage3 {
  bottom: 9vh;
  left: 44vw;
  position: absolute;
  color: #feedc300;
  background-color: #6adae400;
  /*border: solid 1px greenyellow;*/
}

#nuage4 {
  bottom: 40vh;
  left: 18vw;
  position: absolute;
  color: #feedc300;
  background-color: #6adae400;
  /*border: solid 1px greenyellow;*/
}
#nuage5 {
  bottom: 45vh;
  left: 68vw;
  position: absolute;
  color: #feedc300;
  background-color: #6adae400;
  /*border: solid 1px greenyellow;*/
}
#oiseau {
  bottom: 35vh;
  left: 12vw;

  position: absolute;
  /*border: solid 1px greenyellow;*/
}
#ballon {
  bottom: 15vh;
  left: 38vw;
  position: absolute;
  /*border: solid 1px greenyellow;*/
}

#eclat {
  bottom: 5vh;
  left: 55vw;

  position: absolute;
}

#amis {
  max-width: 1000vw;
  position: absolute;
  bottom: 0;
  right: 790px;
  top: 750px;
}

.ContainerSpriteSheet .SpriteSheet {
  height: 25vh;
  width: 15vw;
  top: 70%;
  position: absolute;
}

.ContainerSpriteSheet2 .SpriteSheet2 {
  height: 25vh;
  width: 15vw;
  top: 790px;
  position: absolute;
}

.tombe1 {
  height: 55vh;
  width: 45vw;
  position: absolute;
  left: 1150px;
}

.tombe1 .tombeAnim {
  position: fixed;
  top: 10vh;
  right: 100;
  z-index: 50;
}

#tomber2 {
  height: 45vh;
  width: 35vw;
  position: absolute;
  bottom: 260px;
  left: 750px;
  color: #6adae400;
  background-color: #6adae400;
}

#flotte {
  height: 45vh;
  width: 35vw;
  position: absolute;
  bottom: 260px;
  left: 750px;
  color: #6adae400;
  background-color: #6adae400;
}

#ballon {
  height: 45vh;
  width: 35vw;
  position: absolute;
  left: -150px;
  top: 150px;
  object-fit: cover;
}

.ballonAnim {
  height: 100vh;
  width: 400px;
  left: 995px;
  top: -40px;
  overflow: hidden;
  position: absolute;
}

#ballonCoeur {
  height: 80vh;
  width: 70vw;
  position: absolute;
  left: 540px;
  top: 105px;
}

#coeur {
  visibility: hidden;
}
svg {
  position: absolute;
  right: 970px;
  bottom: 300px;
}

#svgFlower {
  position: absolute;
  height: 15%;
  width: 15%;
  right: 520px;
  bottom: 60px;
}

#ballonPath {
  height: 45vh;
  width: 35vw;
  position: absolute;
  left: -150px;
  top: 150px;
  z-index: 999;
}

p {
  float: left;
  z-index: 999;
}

#motionPath {
  height: 100%;
  max-width: 100%;
  overflow: visible;
  bottom: 30px;
  right: 0;
}

#motionPath path {
  stroke-width: 2;
  stroke: rgba(128, 128, 128, 0);
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}
